<form action="/pokemons/{{_id}}/edit" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input required maxlength="250" type="text" class="form-control" id="name" name="name" value="{{name}}">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input required type="text" class="form-control" id="image" name="image" value="{{image}}">
  </div>

  <div class="mb-3">
    <label for="Weight" class="form-label">Weight</label>
    <input type="text" class="form-control" id="Weight" name="weight" value="{{weight}}">
  </div>

  <div class="mb-3">
    <label for="Height" class="form-label">Height</label>
    <input type="text" class="form-control" id="Height" name="height" value="{{height}}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>